.row {
  display: flex;
}

.header-container {
  width: 100%;
}

.main-container {
  height: 100vh;
}

.tab-container {
  width: 100%;
  font-family: "Passion One", cursive;
}

.main-content {
  width: 100%;
}

.column-full {
  width: 100%;
}

.sidenav-on {
  height: 100vh;
  width: 300px;
  z-index: 1;
  left: 0;
  background-color: #c4c4c4;
  transition: 0.5s;
}

.sidenav-off {
  width: 0;
  transition: 0.5s;
}

.year-container {
  justify-content: center;
  background: white;
  width: 60%;
  height: 90%;
  margin: auto;
  overflow-y: auto;
  border-radius: 25px;
}

.season-header {
  font-family: Arimo, sans-serif;
  margin-left: 5%;
}

@media (max-width: 850px) {
  .sidenav-on {
    min-width: 220px;
    transition: 0.2s;
  }

  .sidenav-off {
    transition: 0.1s;
  }
}
