.row {
  display: flex;
}

.header-container {
  width: 100%;
}

.main-container {
  height: 100vh;
}

.tab-container {
  width: 100%;
}

.main-content {
  width: 100%;
}

/* .column-third {
  width: calc(100% / 3);
}
 */
.column-full {
  width: 100%;
}

.sidenav-on {
  height: 100vh;
  width: 300px;
  z-index: 1;
  left: 0;
  background-color: #c4c4c4;
  transition: 0.5s;
}

.sidenav-off {
  width: 0;
  transition: 0.5s;
}

.year-container {
  justify-content: center;
  background: white;
  width: 60%;
  height: 90%;
  margin: auto;
  overflow-y: auto;
  border-radius: 25px;
}

.season-header {
  font-family: sans-serif;
  margin-left: 5%;
}
