.light-gray {
  background-color: lightgray;
}

.red {
  background-color: #cb202b;
}

.center-text {
  text-align: center;
}

.menu-header {
  font-family: sans-serif;
}

.page-header {
  font-family: sans-serif;
}

.menu {
  float: left;
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.year {
  margin: 15px 30px;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: x-large;
  border-radius: 15px;
}

.year-container::-webkit-scrollbar {
  display: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
