.light-gray {
  background-color: lightgray;
}

.red {
  background-color: #cb202b;
}

.center-text {
  text-align: center;
}

.menu-header {
  font-family: sans-serif;
}

.page-header {
  font-family: "Racing Sans One", cursive;
  font-size: 40px;
}

.menu {
  float: left;
  margin-top: 35px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 30px;
}

.year {
  margin: 15px 30px;
  padding: 5px 10px;
  font-family: Acme, sans-serif;
  font-size: x-large;
  border-radius: 15px;
}

.tab {
  background-color: #cb202b;
  color: black;
  text-align: center;
  width: calc(100% / 3);
  font-size: 35px;
  padding: 15px;
}

.tab.active {
  background-color: #38b45b;
  color: white;
  box-shadow: 0 0 10px black;
  z-index: 2;
  text-align: center;
  width: calc(100% / 3);
  font-size: 35px;
  padding: 15px;
}

.year-container::-webkit-scrollbar {
  display: none;
  text-align: center;
}

.data-table {
  height: 90vh;
  overflow-y: auto;
}

.table {
  border: 1px solid #ddd;
  padding: 8px;
  margin: auto;
  width: 90%;
  border-collapse: collapse;
}

.table td {
  padding: 5px 15px;
  font-size: 22px;
  font-family: Kanit, sans-serif;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  font-family: Kanit, sans-serif;
  text-align: left;
  background-color: black;
  color: white;
  padding: 5px 15px;
  font-size: 22px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: black;
}
